<nav class="sticky-top navbar navbar-expand-md navbar-light bg-light">
  <div class="container-xl">
    <img src="assets/images/logo1_.png" alt="Logo" />

    
    <div class="collapse navbar-collapse static-top" id="navbarNav">
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link" routerLink="accueil" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-admin-filter" routerLinkActive="active">Filtrer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-create" routerLinkActive="active">Créer des stations</a>
        </li>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav"></div>
</ul>

<ul class="navbar-nav d-flex ms-auto" *ngIf="isAuthenticated === true">
  <li class="nav-item">
    <a class="nav-link clickable" (click)="onClickLogout()">Log out</a>
  </li>
</ul>
    </div>
    <a class="nav-link" routerLink="admin" routerLinkActive="active">S'inscrire </a>
    <a class="nav-link" routerLink="/app-sign-in" routerLinkActive="active">Se connecter</a>
    <ul class="navbar-nav d-flex ms-auto" *ngIf="isAuthenticated === true">
      <li class="nav-item">
        <a class="nav-link" (click)="onClickLogout()">Log out</a>
        <!-- TODO 
                                Après le clique du bouton "Log out" : 
                                - Supprimer le token dans le localStorage
                                - Modifier la valeur de la propriété isAuthenticated à false
                                - Rediriger l'utilisateur vers la page de connexion ("sign-in")
                             -->
      </li>
    </ul>
  </div>
</nav>